*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height:59px
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
.clip-circle{
    clip-path: circle(50% at 50% 50%);
}
#logo{
    margin: 10px 34px;
}
#logo img{
    
    height: 90px;
    
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
    font-family: 'DynaPuff', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color:white;
    
}
#navbar ul li a:hover{
    color: black;
    background-color:white;

}
#navbar::after{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.6;
    top: 0px;
    left: 0px;

}

/*home section */
#bird{
    height: 50%;
    width: 50%;
    position: absolute;
    
    animation: infinite;
}
.bird1{
    position: absolute;
    width: 20%;
    left: 200%;
    animation: fly 10s infinite;
}
@keyframes fly
{
  0%{left: -20%; top: 5px;}
  25%{top: 150px;}
  50%{ top: 30px;}
  75%{ top: 25px;}
  100%{right: -100px; top: 105px;}
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 506px;
}  

#home::before{
    content: "";
    position: absolute;
    background:url('../onion.jpg') no-repeat center/cover ;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
    animation: infinite;
    display: block;
    border-radius: 85px;

   

}
#home h1{
    color:green;
    text-align: center;
    background-color: aliceblue;
    border-radius: 230px;
}
#home p{
    color:blue;
    text-align: center;
    font-size: 1.3rem;
    font-family:  'DynaPuff', cursive;
    background-color: antiquewhite;
    border-radius: 200px;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{

    border: 5px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 15px;
    background-color: #f2f2f2;
    height: 320px;
    overflow: auto;
    width: 150px;
}



#services .box img{
    height: 160px;
    margin: auto;
    display:block;
    border-radius: 100px;
}
#services .box p{
    font-family:'DynaPuff', cursive;
}
#client-section{
    height: 344px;
    position: relative;
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client img{
    height: 124px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../onion.jpg');
    width: 100%;
    height: 100%;
    opacity: 1.4;
    z-index: -1;
    
    
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1.5;
    background: url('../contactus.jpg');

}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 01.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'DynaPuff', cursive;
}
#icecremlist ul{
    font-family: 'DynaPuff', cursive;
}
#icecremlist ul li{
    
    font-size: 1.3rem;
}
#icecremlist ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
    color:blue
}
#icecremlist ul li a:hover{
    color: black;
    background-color:rgb(121, 93, 187);
}
#burgerlist ul{
    font-family: 'DynaPuff', cursive;
}
#burgerlist ul li{
    
    font-size: 1.3rem;
}
#burgerlist ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
    color:blue
}
#burgerlist ul li a:hover{
    color: black;
    background-color:rgb(121, 93, 187);
}
#foodlist ul{
    font-family: 'DynaPuff', cursive;
}
#foodlist ul li{
    
    font-size: 1.3rem;
}
#foodlist ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
    color:blue
}
#foodlist ul li a:hover{
    color: black;
    background-color:rgb(121, 93, 187);
}
#veglist ul{
    font-family: 'DynaPuff', cursive;
}
#veglist ul li{
    
    font-size: 1.3rem;
}
#veglist ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
    color:blue
}
#veglist ul li a:hover{
    color: black;
    background-color:rgb(121, 93, 187);
}
#nonveglist ul{
    font-family: 'DynaPuff', cursive;
}
#nonveglist ul li{
    
    font-size: 1.3rem;
}
#nonveglist ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
    color:blue
}
#nonveglist ul li a:hover{
    color: black;
    background-color:rgb(121, 93, 187);
}





.footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
.client-item{
    padding: 55px;
}


.btn{
    padding: 6px 20px;
    border: 5px solid rgb(49, 194, 49);
    background-color:aqua;
    color: black;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-style: italic;
    font-family:'DynaPuff', cursive; 
    font-weight: 100;
    text-decoration-line: none;
}
.center{
    text-align: center;
}

.h-primary{
    background-color:rgba(65, 228, 249, 0.498);
    display: block;
    border-radius: 100px;
    font-size: 3.8rem;
    font-family: 'DynaPuff', cursive; 
    padding: 12px;
    

}
.h-secondary{
    
    
    font-size: 2.3rem;
     font-family:'DynaPuff', cursive; 
    padding: 12px;
    
}
footer{
    font-size: 30px;
    background: black;
    color: white;
}